.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 90px;
  }
  
  .dropdown-toggle {
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }
  
  .arrow {
    transition: transform 0.3s;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    z-index: 1000;
    max-height: 200px; /* Adjust based on content */
    overflow-y: auto;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  