/* Menu.css */
.hamburger-menu {
    width: 1em;
    height: 3%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    position: fixed; /* Đặt cố định để không bị ảnh hưởng khi kéo trang */
    z-index: 1000; /* Đảm bảo menu luôn ở trên cùng */
}

.hamburger-menu .bar {
    width: 3em;
    height: 1px;
    padding:2px;
    background-color: chartreuse;
    border-radius: 0.5em;
}

.side-menu {
    position: fixed;
    top: 0;
    margin-top: 20px;
    left: -2000px; /* Ẩn menu bên ngoài màn hình bên trái */
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 999; /* Đảm bảo menu trên nội dung */
}

.side-menu.open {
    left: 0; /* Khi mở, đẩy menu vào màn hình */
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu div h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.side-menu ul li {
    padding: 15px 20px;
}

.side-menu ul li a {
    color: aquamarine;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.side-menu ul li a:hover {
    background-color: #575757;
}

/* Khi menu mở, dịch chuyển nội dung */
/* .content-shift {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
} */

/* Mục menu được chọn */
.side-menu ul li a.active {
    background-color: #575757; /* Đổi màu nền khi được chọn */
    color: #ffeb3b; /* Đổi màu chữ khi được chọn */
}
