body, html {
    height: 100%;
    margin: 0;
}
.login-container{
    display: flex;
    padding-top: 12%;
    flex-direction: column;
    margin: 0 auto;
    .title-login{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
    .text-login{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 7px;
    }
}
.login-container input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    &:hover{
        background-color: #dedede;
    }
}
.login-container button{
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    &.active{
        background-color: red;
        color: #dedede;
    }
}
body {
    background-image: url('/public/anh_tro.jpg'); /* Đường dẫn tương đối tới ảnh */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
